/* Use of grid here makes it easy to add spacing between list items */
.todo-list {
    display: grid;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin-top: 5rem;
    color: black;
}

.todo-list li {
    box-shadow: 0 0 10px #3333332C;
    user-select: none; /* Remove the possibility to select any text */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Here " * " is used so even if our component change, the css will sill work */
.todo-list li > * {
    padding: 1rem;
}

.todo-list li label {
    flex-grow: 1;
}

.todo-list button {
    border: none;
    background-color: transparent;
}

.todo-list label.done {
    text-decoration: line-through;
}

.todo-list .remove {
    color: black;
    cursor: pointer;
}

/* css for remove button that doesn't have the class .done */
/* .todo-list .remove:not(.done) { 
    display: none;
} */

